<% @users.each do |user| %>

<section class="user-card">
	<div class="row">
		<div class="col-md-4 padding border-right">
			<%= image_tag user.photo.user_size , class: "max-width" %>
		</div>
		<div class="col-md-8 padding user-description">
			<h2><%= user.first_name %> <%= user.last_name %></h2>
			<h3><%= user.city %></h3>
			<h5><%= user.description %></h5>
        <button class="l-button"><%= link_to "show user page", user_path(user)%> </button>
		</div>
	</div>
</section>

<% end %>
