<!-- <h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= image_tag @user.photo %></p>
<p><b>Birthday: </b><%= @user.birth_date %></p>
<p><b>City: </b><%= @user.city %></p>
<p><b>Country: </b><%= @user.country %></p>
<p><b>About Me: </b><%= @user.description %></p>
<% if current_user.id == @user.id %>
<p><%= link_to "see all your friends", friends_path %>
  <% end %>
<% if current_user.id != @user.id %>
<%if current_user.friends.exclude?(@friend) %>
<%=form_for @friendrequest, url: user_friendrequests_path(@user), html: { method: :post } do |f| %>
<div>
  <%= f.submit "send request!" %>
  <% end %>
</div>
<% end %>
<% end %>

  <% @friendrequests.each do |friendrequest| %>
  <p>
    <% if friendrequest.user_id == current_user.id %>
    <%if friendrequest.status == "Pending" %>
    <p>
      <%= friendrequest.friend.first_name %> <%=friendrequest.friend.last_name  %> has send you a friendrequest
    </p>
      <%= link_to "see this friendrequest", friendrequest_path(friendrequest) %>
<% end %>
    <% end %>
  <% end %>
</p> -->





<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8 user-show">
			<div class="container-fluid">
				<div class="row">
					<div class=col-md-8>
						<h2><%= @user.first_name %> <%= @user.last_name %></h2>
						<h3><%= @user.city %></h3>
			      <h3><%= @user.country %></h3>
						<p><%= @user.description %></p>
						<% if current_user.id == @user.id %>
			      <button class="l-button"><%= link_to "see all your friends", friends_path %> </button>
			      <% end %>
			      <% if current_user.id != @user.id %>
			      <%if @user.friends.exclude?(current_user.to_friend) %>
			      <%=form_for @friendrequest, url: user_friendrequests_path(@user), html: { method: :post } do |f| %>
			      <div>
			        <%= f.submit "send friend request!" %>
			        <% end %>
			      </div>
			      <% end %>
			      <% end %>
			      <% if current_user.id == @user.id %>
			      <button class="l-button"><%= link_to "My Friendrequests", user_friendrequests_path(current_user) %> </button>
			      <% end %>
					</div>
					<div class="col-md-4">
						<%= image_tag @user.photo.user_size, class: "user-picture"%>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>
