<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p><%= image_tag @user.photo %></p>

<p><b>Birthday: </b><%= @user.birth_date %></p>
<p><b>City: </b><%= @user.city %></p>
<p><b>Country: </b><%= @user.country %></p>
<p><b>About Me: </b><%= @user.description %></p>
<% @user.friends.each do |friend| %>
<%= friend.first_name %>
<% end %>
<p><%= link_to "add as a friend", new_user_friendrequest_path(@user) %></p>
  <% @friendrequests.each do |friendrequest| %>
  <p>
    <% if friendrequest.user_id == @user.id %>
      <%= friendrequest.status %>
    <% end %>
  <% end %>
</p>
