<%= @friendrequest.friend.first_name %>
<%=form_for @friendrequest do |f| %>
<div>
  <p>
    <%= f.select(:status, ["accept"]) %>
  <%= f.submit "Confirm" %>
  <% end %>
</p>
<p>
  <%= link_to "decline", user_friendrequest_path(current_user, @friendrequest), method: :delete %>
</p>

</div>
