<h1>Here is a list with all the posts of you and your friends</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% @posts.each do |post| %>


<div class="post">
  <p><%= post.content %></p>
  <noscript>
    <%= render "/hugs/form", post: post %>
  </noscript>
  <span class="counter" id="hug-counter-<%= post.id %>">
    <%= post.hugs.count %>
  </span>
  <%= link_to "⚘", post_hugs_path(post), class: "hug-button", data: { post_id: post.id } %>
  <%= render "/comments/form", post: post %>
</div>
<% post.comments.each do |comment| %>
<%= comment.reply %>
<% end %>

<% end %>
